# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
